*#
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*~
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
.virtualenv
TAGS
benchmarks.tix
cabal-dev
cabal.config
cabal.project.local
cabal.sandbox.config
dist-*/
dist/
stack.yaml
